@using Microsoft.AspNetCore.Identity
@using SkillSharingApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkillSharingApp</title>
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">

    <style>

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content-wrapper {
            flex: 1;
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .content-container {
            background-color: #fff;
        }

        #footer {
            margin-top: auto;
        }

    </style>
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a asp-area="" asp-page="/Index">SkillSharing</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li>
                        <a asp-area="" asp-page="/Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="FindWorkshops" asp-action="Index">Find Workshops</a>
                        </li>
                        <li>
                            <a asp-controller="Tutorial" asp-action="Index">Tutorials</a>
                        </li>
                        <li>
                            <a asp-controller="Workshops" asp-action="Index">Workshops</a>
                        </li>
                        <li>
                            <a asp-controller="Roles" asp-action="Index">Roles</a>
                        </li>
                        <li>
                            <a asp-controller="AttendedWorkshops" asp-action="Index">Attended Workshops</a>
                        </li>

                    }



                    @if (SignInManager.IsSignedIn(User))
                    {

                        @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                        {
                            <li class="nav-item" style="margin-left:20px; margin-right:-25px">
                                <img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" width="50" height="50" />
                            </li>
                        }
                        <li class="nav-item" style="margin-right:10px">
                            @{
                                var currentuser = await UserManager.GetUserAsync(User);
                            }
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@currentuser.FirstName @currentuser.Lastname </a>
                        </li>

                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li>
                    }
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="get-started-btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
            }


        </div>
    </header>

    <div class="content-wrapper container">
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>SkillSharingApp</h3>
                        <p>
                            Prishtina, Kosovo <br>
                            Prishtina, 10000<br>
                            Kosovo <br><br>
                            <strong>Phone:</strong> +383 45 000 000<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i>  <a asp-area="" asp-page="/Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Tutorial" asp-action="Index">Tutorials</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-controller="Workshops" asp-action="Index">Workshops</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Do not hesitate to contact us.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>SkillSharingApp</span></strong>. All Rights Reserved
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>